// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg-image {
  background-image: url('event4.jpg');
  background-size: cover;
  background-position: center;
}